<h1>Welcome to the Startup Community</h1>


<% if user_signed_in? %>
	<% unless current_user.user_profile %>
	<p>Join up now. You won't be sorry</p>

<hr>
<%= link_to 'Get started', new_user_profile_path, class: 'btn btn-primary' %>
<% end %>
<% end %>
