<h1>Welcome to the Startup Community</h1>
<h3><span class="label label-info">Happy Birthday!</span></h3>

<% if user_signed_in? %>
	<% unless current_user.user_profile %>
	<p>Join up now. You won't be sorry</p>

<hr>
<%= link_to 'Get started', new_user_profile_path, class: 'btn btn-primary' %>
<% end %>
<% end %>



<h3>Latest businesses</h3>
<ul>
	<% @businesses.each do |business| %>
		<li><%= business.name %></li>
	<% end %>
</ul>

<h3>Newest members</h3>
<ul>
	<% @user_profiles.each do |user_profile| %>
		<li><%= link_to user_profile.name, user_profile_path(user_profile) %></li>
	<% end %>
</ul>